/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */


body {
    background-color: rgb(234, 221, 202);
}

nav {
    text-align: center;
    background-color: rgb(240, 209, 235);
}

div {
    background-color: rgb(244, 239, 232);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* --- Class Selectors --- */
.main {
    background-color: rgb(240, 209, 235);
}

.outline {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2%;
    padding-left: 8px;
    padding-right: 8px;
}


/* --- ID Selectors --- */

#quoteContainer {
    background-color: rgb(133, 19, 19);
    color:antiquewhite;
    text-align: center;
}