/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */


body {
    background-color: rgb(244, 239, 232);
}

nav {
    text-align: center;
    background-color: rgb(240, 209, 235);
}



/* --- Class Selectors --- */
.outline {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2%;
}