/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */


body {
    /* background-color: rgb(234, 221, 202); */
    background-image: linear-gradient(white, rgb(150, 138, 120));
}

nav {
    text-align: center;
    /* background-color: rgb(240, 209, 235); */
    background-image: linear-gradient(rgb(212, 175, 175), rgb(255, 110, 110));
}

div {
    border-radius: 5px;
    background-image: linear-gradient(white, rgb(150, 138, 120));
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
}

/* --- Class Selectors --- */
.main {
    background-color: rgb(240, 209, 235);
}

.outline {
    border: 1px solid rgb(19, 19, 19);
    border-radius: 5px;
    margin: 2%;
    padding-left: 8px;
    padding-right: 8px;
}


.title-bar {
    background-image: linear-gradient(rgb(75, 75, 75), rgb(4, 2, 2));
    color: white;
}

.card{
    text-align: center;
    background-image: linear-gradient(to right, rgb(169, 142, 142), rgb(210, 210, 210));
}
/* --- ID Selectors --- */

#quoteContainer {
    /* background-color: rgb(133, 19, 19);
    color:antiquewhite; */
    text-align: center;
}






/* Gmap */

/* element.style {
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    margin-top: 80px;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
} */

/* body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

#map {
    /* display: inline; */
    width:60%;
    height:100%;
}

#results {
height: 500px;
}

.geo-data {
    width: 25%;
}
@media screen and (min-width: 768px) {
    #card-wrap {        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .card {
        flex: 1 0 28%;
        max-width: 25%;
    }


}
